$primary: #fff;
$secondary: #949495;
$dark: #23263a;
$light: #ffffffb0;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: $dark;
}

pre {
    color: #ff4a57;
    background: #2b2d41;
}

.dot-full {
    background: #ff4a57;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.dot-empty {
    background: #2b2d41;
    border: 2px solid #ff4a57;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.icons-div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.icons-img {
    margin-right: .5rem;
    color: #ff4a57;
}

.icons-link {
    margin-right: 2rem;
}

.projects-container {
    flex-direction: column;
    display: flex;
}

.project-card {
    background-color: #2b2d41;
    margin-bottom: 2rem;
    max-width: 690px;

    .project-img {
        max-height: 300px; 
    }

    .card-text {
        margin-bottom: 0;
        padding: 0 1rem 0 1rem;
    }

    .card-link-div  {
        display: flex;
        justify-content: space-evenly;
    }

    .blog-title-list {
        margin-right: auto;
        font-size: 1.5rem;
    }
}

.post-container {
    color: white;
    background: #2b2d41;
    padding: 2rem;
    max-width: 800px;
    margin-bottom: 2rem;

    .post-title {
        margin-bottom: 1rem;
        h1 {
            font-size: 1.5rem;
            color: #ff4a57;
        }
    }
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: #2b2d41;
    padding: 1rem;
    margin-top: 1.5rem;

    a {
        display: flex;
        margin: .3rem;
        text-decoration: none;

        p {
            margin-left: .2rem;
            margin-bottom: 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 10px;
        }
    }
}


.page {
    // height: 100vh;
    background-color: $dark;
}

.sidenav {
    text-align: center;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 2rem;
    position: relative;
}

.text-welcome {
    margin-right: auto;
    text-align: left;
    
    h1{
        font-size: 3.5rem;
        font-family: 'Gothic A1', sans-serif;
    }

    p {
        line-height: 1.8;
        font-size: 14px;
    }
}

.projects-container {
    h1 {
        letter-spacing: 1.5px;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #ff4a57;
        font-weight: 700;
    }

    .card {
        border: none;
        
        .card-text {
            letter-spacing: -1px;
        }
    }
}

.posts-container {
    h1 {
        letter-spacing: 1.5px;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #ff4a57;
        font-weight: 700;
    }
}

.contact-form {
    max-width: 690px;
    margin-bottom: 1rem;
}

.contact-container {
    margin-right: auto;
    margin-left: 0;

    h1 {
        letter-spacing: 1.5px;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #ff4a57;
        font-weight: 700;
    }
}

.contact-input {
    border: none;
    border-radius: 0;
    background: #2b2d41;
    color: white;
    padding: 1.5rem;  
}

.contact-input:focus {
    border: 1px solid #ff4a57;
    background: #2b2d41;
    outline: 0;
    box-shadow: none !important;
    color: white;
}


.contact-input:focus::placeholder {
    color: #2b2d41;
}


.contact-button {
    border: none;
    background: #ff4a57;
    padding: 1rem;
    font-weight: 700;
    color: #23263a;
}

@media (min-width: 768px){
    .buttons-container {
        width: 70%;
    }
    .card-img {
        object-fit: cover;
        object-position: 0px 0px;
        height: 200px;
    }
}


@media (min-width: 992px){
    .contact-form {
        margin-right: auto;
        margin-left: 0;
    }

    .buttons-container {
        width: auto;
        margin-right: auto;
    }
    .line2 {
        width: 0px;
        border: 1px solid #ffffff4a;
        height: 1.5rem;
        margin-left: 11px;
        float: left;
    }
    
    .buttons-container {
        flex-direction: column;    
    }
    
    .sidenav {
        max-width: 500px;
        position: fixed;
        padding: 5rem;
    }

    .sections-container {
        padding-left: 500px;
        margin-top: 5.5rem;
    }
}

@media (min-width: 1500px) {
    .sidenav {
        max-width: 800px;
        padding-left: 20rem;
    }

    .sections-container {
        padding-left: 800px;
    }
}




.font-weight-light {
    font-weight: 300;
}

.font-weight-bold {
    font-weight: 700;
}