$primary: #fff;
$secondary: #949495;
$dark: #23263a;
$light: #ffffffb0;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: $dark;
}

pre {
    color: #ff4a57;
    background: #2b2d41;
}


.icons-div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.icons-img {
    margin-right: .5rem;
    color: #ff4a57;
}

.icons-link {
    margin-right: 2rem;
}

.projects-container {
    flex-direction: column;
    display: flex;
}

.project-card {
    background-color: #2b2d41;
    margin-bottom: 2rem;
    max-width: 690px;

    .project-img {
        max-height: 300px; 
    }

    .card-text {
        margin-bottom: 0;
        padding: 0 1rem 0 1rem;
    }

    .card-link-div  {
        display: flex;
        justify-content: space-evenly;
    }

    .blog-title-list {
        margin-right: auto;
        font-size: 1.5rem;
    }
}

.post-container {
    color: white;
    background: #2b2d41;
    padding: 2rem;
    max-width: 800px;

    .post-title {
        margin-bottom: 1rem;
        h1 {
            font-size: 1.5rem;
            color: #ff4a57;
        }
    }
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.page {
    // height: 100vh;
    background-color: $dark;
}

.sidenav {
    text-align: center;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 2rem;
    position: relative;
}

.text-welcome {
    margin-right: auto;
    text-align: left;
    
    h1{
        font-size: 3.5rem;
        font-family: 'Gothic A1', sans-serif;
    }

    p {
        line-height: 1.8;
    }
}

.projects-container {
    font-family: 'Gothic A1', sans-serif;
    h1 {
        letter-spacing: -1px;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .card {
        border: none;
        
        .card-text {
            letter-spacing: -1px;
        }
    }
}


@media (min-width: 768px){
    .card-img {
        object-fit: cover;
        object-position: 0px 0px;
        height: 200px;
    }
}


@media (min-width: 992px){
    .sidenav {
        max-width: 500px;
        // height: 100vh;
        position: fixed;
        padding: 5rem;
    }

    .sections-container {
        padding-left: 500px;
        // height: 100vh;
        margin-top: 3rem;
    }
}

@media (min-width: 1500px) {
    .sidenav {
        max-width: 800px;
        padding-left: 20rem;
    }

    .sections-container {
        padding-left: 800px;
    }
}




.font-weight-light {
    font-weight: 300;
}

.font-weight-bold {
    font-weight: 700;
}